<!DOCTYPE html>

<html>

  <head>

    <link rel='stylesheet' type="text/css" href="static/gatherInfo.css">
    <!-- font change -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    
  </head>

  <body>

    <form method="get" action = "">
      <h3>What is your name? <input type="text" name="name1"/> </h3>
      <h3>What is your partner's name? <input type="text" name="name2"/> </h3>
    </form>

    <button align=center type="button">Next</button>

  </body>


</html>
