<!DOCTYPE html>

<html>
  <head>

    <!-- linking the CSS to the HMTL -->
    <link rel='stylesheet' type="text/css" href="static/signIn.css">
    <!-- font change -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- linking the JavaScript to the HTML -->
    <script src ="../static/signIn.js"></script>

  </head>

    <body>
    
        <ul class="cb-slideshow" style="list-style-type: none;">
            <li style="list-style-type: none;"><span>Image 01</span></li>
            <li style="list-style-type: none;"><span>Image 02</span></li>
            <li style="list-style-type: none;"><span>Image 03</span></li>
        </ul>
        <div class ="mainpage">
          <p><a href={{login}} class="button"><span>Sign in</span></a></p>
        </div>

    </body>

</head>
