<!DOCTYPE html>

<html>
  <head>

    <!-- linking the CSS to the HMTL -->
    <link rel='stylesheet' type="text/css" href="static/signIn.css">
    <!-- font change -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- linking the JavaScript to the HTML -->
    <script src ="static/signIn.js"></script>
    
  </head>

  <body>

    <div>
        <a href="{{login}}">
              <span>SIGN IN!</span>
        </a>
    </div>

  </body>

</html>
